a{
    text-decoration: none;
    color: rgb(179, 174, 174);
}
@media (max-width: 979px){
.head {
    margin: 0 5px;
    z-index: 999;
    width: auto!important;
 }
}

.main{
    background-color: #e1e1e1;
       position: relative;
       height: 2100px;
       width: 90%;
       max-width: 1400px;
       min-width: 960px;
       margin: 15px auto;
       min-height: 400px;
}

.head {    
    position: relative;
    background: #444;
    font-size: 13px;
    overflow:hidden;

}
.header{
    background: 0 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    width: 90%;
    margin: auto;
    padding: 5px;
}
.sousuo{
    width: 100%;
    min-width: 960px;
    margin: 0 auto;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;

}
.brand{
    width: 120px;
    padding: 3px 20px;
    height: 34px;
    line-height: 34px;
    display: block;
    float: left;
    padding: 10px 20px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777;
}
form{
    margin: 0 0 30px 0;
    display: block;
    margin-bottom: 20px;
}
.head-search{
    float: left;
    margin-top: 15px;
    margin-bottom: 0;
}
.search-query{
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: url(../images/search.e53b380a.hashed.png) 4px 4px no-repeat #888;
}
.content{
    position: absolute;
    top: 10px;
    background-color: white;
    width: 960px;
    height: 2100px;
}
.top{
    background-color: #f6f6f6;
    height: 50px;
}
.top a{
    margin: 10px 10px;
       text-decoration: none;
      display: inline-block;
       color:  #99ca2e;
       border-radius: 3px;
       padding: 5px;
}
.s
      {
        height: 30px;
        padding: 10px;
      }
      .a,.b,.c,.d
      {
        float: left;
        line-height: 30px;
      }
      .e
      {
        float: right;
        line-height: 30px;
      }
      .f
      {
        font-size: 14px;
        color: #9e78c0;
      }
      .g{
        font-size: 10px;
    color: #b4b4b4;
      }
      .d a{
          color: black;
      }

.panel{
    position: absolute;
    right: 50px;
    width: 250px;
    height: 120px;
    background-color: white;
    top: 10px;
    line-height: 30px;
}
.right-menu{
    position: relative;
    left: 0;
    margin: 0 10px 0 0;
    padding-top: 15px;

}
li{
    float: right;
    margin-left: 20px;
    color: #444;
    padding-right: 30px;
}
#main{
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 15px auto;
    min-height: 400px;
}
#rightbar{
    width: 290px;
    font-size: 14px;
    float: right;
    margin-bottom: 20px;
}
.panel{
    font-size: 13px;
    margin-bottom: 13px;
    
}
.inner a{
    width: 150px;
    height: 16px;
}

@media (max-width: 979px){
#main {
    margin: 20px auto;
    min-height: 0;
    width: 100%;
    min-width: 0;
 }
}
#main {
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 15px auto;
    min-height: 400px;
}
@media (max-width: 979px){
#rightbar {
    float: none;
    position: absolute;
    right: -100%;
    top: 0;
    background-color: #fff;
    z-index: 999;
    border: 5px solid #ccc;
    border-right: 0;
 }
}
#rightbar {
    width: 290px;
    font-size: 14px;
    float: right;
    margin-bottom: 20px;
}
.panel{
    width: 290px;
}


